<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Add_user.css">
  <title>Centered Form</title>
</head>
<body>

    <!--header-->
    <div class="header">
        <div class="logo">
            <img src="images/logo1.png" alt="logo">
        </div>
        <form action="Admin_home.html">
            <div class="action__btns">
          
                <a class="login" href="adminHome">Home</a>
          
            </div>
        </form>
        

    </div>
    
    <!--form-->
    <div class="container"  >
        <form method="post">
            <div class="form-row">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter Name.." class="input-field"  required>
      
                <label for="dept">Department</label>
                <input type="text" id="dept" name="dept" placeholder="Enter Department name.." class="input-field"  required>
            </div>

            <div class="form-row">
                <label for="email">email</label>
                <input type="text" id="email" name="email" placeholder="Enter Email.." class="input-field"  required>
      
                <label for="ph no.">Ph_Number</label>
                <input type="text" id="ph no." name="phone" placeholder="Enter Phone Number.." class="input-field" pattern="[789][0-9]{9}"
                 title="It should start with 7,8 or 9 and must be 10 digits" required>
            </div>

          <label for="uname">Set UserName</label>
          <input type="text" id="uname" name="username" placeholder="Set Your UserName.." class="input-field"  required>
      
          <label for="pass">Set Password</label>
          <input type="text" id="pass" name="password" placeholder="Set Your Password.." class="input-field"  required>
          

            <br>
            <br>

          <div class="action__btns">
          
            <button class="login">Submit</button>
      
          </div>
        </form>
      </div>
  
</body>
</html>