<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="adminHome.css">
    
       
	</head>
	<body>
    <div class="container">
      <div id="clg_logo">
        <img src="images/logo1.png" alt="logo">
      </div>
      <div class="first-rectangle">
        <h2  id="txt_color">Kolhapur Institute of Technology's</h2>
        <h2>College of Engineering (Autonomous) Kolhapur</h2>
      </div>
        <div class="action__btns">
          <a class="login" href="logout">Logout</a>
        </div> 
    </div>
            
    </div>
        <div class="second-container">
            <div class="box">
              <img src="images/Add_user.png" alt="logo" class="logo">
                <div class="action__btns"  >          
                  <button class="login" id="addUserBtn">Add User</button>
                  <a id="addUserAnchor" href="addUser"></a>
                </div>
            </div>
            <div class="box" >
              <img src="images/update_user.png" alt="logo"  class="logo">
                <div class="action__btns">
                  <button class="login" id="updateUserBtn">Update User</button>
                  <a id="updateUserAnchor" href="updateList"></a>
                </div>              
            </div>
          </div>
         
          <div class="second-container">
            <div class="box">
              <img src="images/delete_user.png" alt="logo" class="logo">
                <div class="action__btns"  >
                  <button class="login" id="removeUserBtn">Remove User</button>
                  <a id="removeUserAnchor" href="removeUser"></a>
                </div>
            </div>
            <div class="box" >
              <img src="images/download.jpg" alt="logo"  class="logo">
                <div class="action__btns">
                  <button class="login" id="downloadBtn">Download</button>
                  <a id="downloadAnchor" href="download"></a>
                </div>
            </div>
          </div>
          <div class="second-container">
            <div class="box" >
              <img src="images/update_user.png" alt="logo"  class="logo">
                <div class="action__btns">
                  <button class="login" id="updatePasswordBtn">Update Password</button>
                  <a id="updatePasswordAnchor" href="updatePassword"></a>
                </div>              
            </div>            
	</body>
  <script src="adminHome.js"></script>
</html>
