<!DOCTYPE html>
<html>
	<head>
		<title>Header Demo</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="adminHome.css">
       
	</head>
	<body>
    <div class="container">
      <div id="clg_logo">
        <img src="images/logo1.png" alt="logo">
      </div>
      <div class="first-rectangle">
        <h2 style="color: orange;">Kolhapur Institute of Technology's</h2>
        <h2>College of Engineering (Autonomous) Kolhapur</h2>
      </div>
        <div class="action__btns">
          <br>
        <a class="login" href="logout">Logout</a>
      </div> 
    </div>
		<!-- <div class="header">
            <div class="logo1">
                <img src="images/logo1.png" alt="logo1">
            </div>
            <-- <form class="searchbar">
                <span class="icon">&#128269;</span>
                <input type="text" name="searchbar" placeholder=" Search..">
            </form>
                <div class="action__btns">
                     <a class="login">Download</a> 
                    <a class="login" href="logout">Logout</a>
                </div> 
              -->
            
            
    </div>
        <!-- <h1 class="wlc"> Welcome Admin</h1> -->

        <div class="second-container">
            <div class="box">
              <img src="images/Add_user.png" alt="logo" class="logo">
              <!--<div class="link">
              <a href="#" >Admin Login</a>
              </div>
              -->
              <!-- <form action="Add_user.html" > -->
                
                <div class="action__btns"  >
          
                  <a class="login" href="addUser">Add User</a>
                </div>
              <!-- </form> -->
            </div>
            <div class="box" >
              <img src="images/update_user.png" alt="logo"  class="logo">
              <!--<div class="link">
                <a href="#" >Login</a>
              </div>
              -->
              <form action="#">
                <div class="action__btns">
                  <a href="Update" class="login">Update User</a>
                </div>
              </form>
            </div>
          </div>
         
          <div class="second-container">
            <div class="box">
              <img src="images/delete_user.png" alt="logo" class="logo">
              <!--<div class="link">
              <a href="#" >Admin Login</a>
              </div>
              -->
              <form action="#">
                <div class="action__btns"  >
          
                  <a href="remove" class="login">Remove User</a>
                </div>
              </form>
            </div>
            <div class="box" >
              <img src="images/download.jpg" alt="logo"  class="logo">
              <!--<div class="link">
                <a href="#" >Login</a>
              </div>
              -->
              <form action="#">
                <div class="action__btns">
                  <a href="download" class="login">Download</a>
                </div>
              </form>
            </div>
          </div>
	</body>
</html>
