<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Citation </title>
    <link rel="stylesheet" href="conference.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <div class="container0">
    <div id="clg_logo">
      <img src="images/logo1.png" alt="logo">
    </div>
    <div class="first-rectangle">
      <h2 id="txt_color">Kolhapur Institute of Technology's</h2>
      <h2>College of Engineering (Autonomous) Kolhapur</h2>
    </div>
    <div class="action__btns">
      <a class="login" href="userHome">Home</a>
    </div> 
  </div>
  <div class="container">
    <div class="title">Citation Details </div>
    <div class="content">
      <form action="#" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" name="fName" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <select class="custom-select" name="dept" id="inputGroupSelect01">
              <option value="">Choose...</option>
              <option value="Computer Science and Engineering">Computer Science and Engineering</option>
              <option value="Electronics and Telecommunication Engineering">Electronics and Telecommunication Engineering</option>
              <option value="Environmental Engineering">Environmental Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Basic Science and Humanities">Basic Science and Humanities</option>
              <option value="Biotechnology Engineering">Biotechnology Engineering</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics Engineering">Electronics Engineering</option>
              <option value="Library">Library</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <select class="custom-select" name="desig" id="inputGroupSelect01">
              <option value="">Choose...</option>
              <option value="Director">Director</option>
              <option value="Professor">Professor</option>
              <option value="Assistant Professor">Assistant Professor</option>
              <option value="Librarian">Librarian</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Author Or Co-author</span>
           <select class="custom-select" name="authorOrCo" id="inputGroupSelect01">
            <option value="">Choose...</option>
            <option value="Author">Author</option>
            <option value="Co-Author">Co-Author</option>
          </select>
          </div> 
          <div class="input-box">
            <span class="details">Name of Author</span>
            <input type="text" name="firstAuthor" placeholder="Enter First Author" required>
          </div>

          <div class="input-box">
            <span class="details">Name of Co-Author-1</span>
            <input type="text" name="coAuthor1" placeholder="Enter co-author-1">
          </div>

          <div class="input-box">
            <span class="details">Name of Co-Author-2</span>
            <input type="text" name="coAuthor2" placeholder="Enter co-author-2">
          </div>

          <div class="input-box">
            <span class="details">Name of Co-Author-3</span>
            <input type="text" name="coAuthor3" placeholder="Enter co-author-3">
          </div>
          <div class="input-box">
            <span class="details">Title of Paper</span>
            <input type="text" name="title" placeholder="Enter the title of citation" required>
          </div>
          <!-- <div class="input-box">
            <span class="details">Source</span>
            <input type="text" name="source" placeholder="Enter the source of citation" required>
          </div> -->
          <!-- <div class="input-box">
            <span class="details">Date of Citation</span>
            <input type="date" name="date" placeholder="Enter Date of citation" required>
          </div> -->
          <div class="input-box">
            <span class="details">Indexing</span>
            <input type="text" name="indexing" placeholder="like Scopus, SCI, Web of Science, etc" required>
          </div>
          <!-- <div class="input-box">
            <span class="details">Page Numbers</span>
            <input type="text" name="pageNo" placeholder="Enter specific references to pages in a book" required>
          </div>
          <div class="input-box">
            <span class="details">International or National </span>
          <select class="custom-select" name="InterOrNational" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="International">International</option>
            <option value="National">National</option>
          </select>
          </div> -->
          <div class="input-box">
            <span class="details">Year (YYYY)</span>
            <input type="text" name="year" placeholder="Enter year" required>
          </div>
          <!-- <div class="input-box">
            <span class="details">Impact Factor</span>
            <input type="text" name="impactFactor" placeholder="Enter impact factor" required>
          </div> -->
          <!-- <div class="input-box">
            <span class="details">Citated By</span>
            <input type="text" name="citedBy" placeholder="Enter citated number" required>
          </div> -->
          <div class="input-box">
            <span class="details">h-index</span>
            <input type="text" name="hIndex" placeholder="Enter h-index " required>
          </div>
          <div class="input-box">
            <span class="details">i10-index</span>
            <input type="text" name="i10Index" placeholder="Enter i10-index " required>
          </div>        
        </div>
        <div class="action__btns">
          <button type="submit" class="login">Submit</button>
        </div>
      </form>
    </div>
  </div>

</body>
</html>