<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Conference </title>
    <link rel="stylesheet" href="conference.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Conference Details </div>
    <div class="content">
      <form method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" name="fName" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <select class="custom-select" name="dept" id="inputGroupSelect01" required>
              <option value="">Choose...</option>
              <option value="Computer Science and Engineering">Computer Science and Engineering</option>
              <option value="Electronics and Telecommunication Engineering">Electronics and Telecommunication Engineering</option>
              <option value="Environmental Engineering">Environmental Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Basic Science and Humanities">Basic Science and Humanities</option>
              <option value="Biotechnology Engineering">Biotechnology Engineering</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics Engineering">Electronics Engineering</option>
              <option value="Library">Library</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <select class="custom-select" name="desig" id="inputGroupSelect01" required>
              <option value="">Choose...</option>
              <option value="Director">Director</option>
              <option value="Professor">Professor</option>
              <option value="Assistant Professor">Assistant Professor</option>
              <option value="Librarian">Librarian</option>
              
            </select>
          </div>
          
          <div class="input-box">
            <span class="details">Author Or Co-author</span>             
          
          <select class="custom-select" name="authorOrCo" id="inputGroupSelect01" required>
            <option value="">Choose...</option>
            <option value="Author">Author</option>
            <option value="Co-Author">Co-Author</option>
            
          </select>
          </div>
        
          <div class="input-box">
            <span class="details">Name of First Author</span>
            <input type="text" name="firstAuthor" placeholder="Enter First Author" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-1</span>
            <input type="text" name="coAuthor1" placeholder="Enter co-author-1" >
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-2</span>
            <input type="text" name="coAuthor2" placeholder="Enter co-author-2" >
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-3</span>
            <input type="text" name="coAuthor3" placeholder="Enter co-author-3" >
          </div>
          <div class="input-box">
            <span class="details">Title of Paper</span>
            <input type="text" name="title" placeholder="Enter the title of paper" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Conference</span>
            <input type="text" name="confName" placeholder="Enter Confreence name" required>
          </div>
          <div class="input-box">
            <span class="details">International or National </span>
              
          
          <select class="custom-select" name="nationalOrInter" id="inputGroupSelect01" required>
            <option value="">Choose...</option>
            <option value="International">International</option>
            <option value="National">National</option>
            
          </select>
          </div>
          <div class="input-box">
            <span class="details">Name of Organizing Institute</span>
            <input type="text" name="institute" placeholder="Enter organizing institute" required>
          </div>
          <div class="input-box">
            <span class="details">ISSN or e-ISSN Number</span>
            <input type="text" name="issnNo" placeholder="ISSN or e-ISSN">
          </div>
          <div class="input-box">
            <span class="details">Volumes</span>
            <input type="text" name="volumes" placeholder="Enter volume">
          </div>
          <div class="input-box">
            <span class="details">Page No [From-To]</span>
            <input type="text" name="pageNo" placeholder="Enter page number">
          </div>
          <div class="input-box">
            <span class="details">Date of Conference</span>
            <input type="date" name="date" placeholder="Enter Date" required>
          </div>
          <div class="input-box">
            <span class="details">Indexing (like Scopus, SCI, Web of Science, etc)</span>
            <input type="text" name="indexing" placeholder="Enter index" >
          </div>
          <div class="input-box">
            <span class="details">Number of Citation</span>
            <input type="text" name="citationsNo" placeholder="Enter number of citation " required>
          </div>
          
          <div class="input-box">
            <span class="details">Any Financial Support </span>            
          <select class="custom-select" name="support" id="inputGroupSelect01" required>
            <option value="">Choose...</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>            
          </select>
          </div>

          <div class="input-box">
            <span class="details">Name of Organization who suppoted for finance</span>
            <input type="text" name="supportOrg" placeholder="Enter name of insituite">
          </div>
          <div class="input-box">
            <span class="details">Sponsored Amount</span>
            <input type="text" name="amount" placeholder="Enter Account ">
          </div>
          <div class="input-box">
            <span class="details">Upload Certificate (GDrive Link)</span>
            <div class="input-container">
               <input type="url" name="link" placeholder="">
                <!-- <a href="https://drive.google.com/open?id=1C2JDwjkHFLqW4upKiRU0DBOyYMBwSRxa" target="_blank">Google Drive Link</a> -->
            </div>
        </div>
        
          <div class="input-box">
            <span class="details">Issue</span>
            <input type="text" name="issue" placeholder="Issue">
          </div>

          <div class="input-box">
            <span class="details">Peresented/published</span>            
          
          <select class="custom-select" name="presentedPub" id="inputGroupSelect01" required>
            <option value="">Choose...</option>
            <option value="Presented">Presented</option>
            <option value="Published">Published</option>
            
          </select>
          </div>
          
          
        </div>
        
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>