<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Conference </title>
    <link rel="stylesheet" href="conference.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>

<body>
  <div class="container0">
    <div id="clg_logo">
      <img src="images/logo1.png" alt="logo">
    </div>
    <div class="first-rectangle">
      <h2 style="color: orange;">Kolhapur Institute of Technology's</h2>
      <h2>College of Engineering (Autonomous) Kolhapur</h2>
    </div>
    <div class="action__btns">
      <a class="login" href="adminHome.html">Home</a>
    </div> 
  </div>
  <div class="container">
    <div class="title">Conference Details </div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <select class="custom-select" name="support" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="Computer Science and Engineering">Computer Science and Engineering</option>
              <option value="Electronics and Telecommunication Engineering">Electronics and Telecommunication Engineering</option>
              <option value="Environmental Engineering">Environmental Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Basic Science and Humanities">Basic Science and Humanities</option>
              <option value="Biotechnology Engineering">Biotechnology Engineering</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics Engineering">Electronics Engineering</option>
              <option value="Library">Library</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <select class="custom-select" name="support" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="Director">Director</option>
              <option value="Professor">Professor</option>
              <option value="Assistant Professor">Assistant Professor</option>
              <option value="Librarian">Librarian</option>
              
            </select>
          </div>
          
          <div class="input-box">
            <span class="details">Author Or Co-author</span>
              
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Author</option>
            <option value="2">Co-Author</option>
            
          </select>
          </div>
        
          <div class="input-box">
            <span class="details">Name of First Author</span>
            <input type="text" placeholder="Enter First Author" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-1</span>
            <input type="text" placeholder="Enter co-author-1" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-2</span>
            <input type="text" placeholder="Enter co-author-2" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Co-Author-3</span>
            <input type="text" placeholder="Enter co-author-3" required>
          </div>
          <div class="input-box">
            <span class="details">Title of Paper</span>
            <input type="text" placeholder="Enter the title of paper" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Conference</span>
            <input type="text" placeholder="Enter Confreence name" required>
          </div>
          <div class="input-box">
            <span class="details">International or National </span>
              
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">International</option>
            <option value="2">National</option>
            
          </select>
          </div>
          <div class="input-box">
            <span class="details">Name of Organizing Institute</span>
            <input type="text" placeholder="Enter organizing institute" required>
          </div>
          <div class="input-box">
            <span class="details">ISSN or e-ISSN Number</span>
            <input type="text" placeholder="ISSN or e-ISSN Number" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Volume</span>
            <input type="text" placeholder="Enter volume" required>
          </div>
          <div class="input-box">
            <span class="details">Enter page number</span>
            <input type="text" placeholder="Enter page number" required>
          </div>
          <div class="input-box">
            <span class="details">Date of Conference</span>
            <input type="date" placeholder="Enter Date" required>
          </div>
          <div class="input-box">
            <span class="details">Indexing</span>
            <input type="text" placeholder="Enter Index" required>
          </div>
          <div class="input-box">
            <span class="details">Number of Citation</span>
            <input type="text" placeholder="Enter number of citation " required>
          </div>
          
          <div class="input-box">
            <span class="details">Any Financial Support </span>
              
          
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">YES</option>
            <option value="2">NO</option>
            
          </select>
          </div>
          <div class="input-box">
            <span class="details">Name of Organization who suppoted for finance</span>
            <input type="text" placeholder="Enter name of insituite" required>
          </div>
          <div class="input-box">
            <span class="details">Sponsored Amount</span>
            <input type="text" placeholder="Enter Account  " required>
          </div>
          <div class="input-box">
            <span class="details">Upload Certificate (GDrive Link)</span>
            <div class="input-container">
                
                <a href="https://drive.google.com/open?id=1C2JDwjkHFLqW4upKiRU0DBOyYMBwSRxa" target="_blank">Google Drive Link</a>
            </div>
        </div>
        
          <div class="input-box">
            <span class="details">Issue</span>
            <input type="text" placeholder="Enter any issue you have " required>
          </div>
          <div class="input-box">
            <span class="details">Peresented/published</span>
              
          
          
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Presented</option>
            <option value="2">Published</option>
            
          </select>
          </div>
          
          
        </div>
        
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>