<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove User</title>
    <link rel="stylesheet" href="Download.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container0">
        <div id="clg_logo">
          <img src="images/logo1.png" alt="logo">
        </div>
        <div class="first-rectangle">
          <h2 style="color: orange;">Kolhapur Institute of Technology's</h2>
          <h2>Colloge of Engineering (Autonomous) Kolhapur</h2>
        </div>
        <div class="searchbar">
          <br>
          <br>
          <input type="text" placeholder="Search..">  
          <button type="submit"><i class="fa fa-search"></i></button>  
        </div>
        <div class="action__btns">
          <br>
          <br>
        <a class="login" href="#">Download</a>
      </div> 
    </div>
    <div id="tableDiv">
      <table id="table">
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Contact Number</th>
        </tr>
        <tr>
          <td>Mz10</td>
          <td>Mz10</td>
          <td>Mz10</td>
        </tr>
        <tr>
          <td>Mz10</td>
          <td>Mz10</td>
          <td>Mz10</td>
        </tr>
      </table>
    </div>


</body>
</html>