<html>

<head>
  <title>
    Home page
  </title>
  <link rel="stylesheet" href="index.css">

</head>

<body>
  <!-- <nav>
            <div class="logo">
              Logo
                
            </div>
            

            <div class="action__btns">
    
                <button class="login">Login</button>
                <button class="login">Admin Login</button>
              </div>
              
        </nav>
      -->

  <div class="container">
    <div id="clg_logo">
      <img src="images/logo1.png" alt="logo">
    </div>
    <div class="first-rectangle">
      <h2 style="color: orange;">Kolhapur Institute of Technology's</h2>
      <h2>Colloge of Engineering (Autonomous) Kolhapur</h2>
    </div>
  </div>

  <div class="second-container">
    <div class="box">
      <img src="images/logo.png" alt="logo" class="logo">
      <!--<div class="link">
            <a href="#" >Admin Login</a>
            </div>
            -->
      <!-- <form action="#"> -->
        <div class="action__btns">
          <!-- <button class="login">User Login</button> -->
          <a class="login" href="userLogin">User Login</a>
        </div>
      <!-- </form> -->
    </div>
    <div class="box">
      <img src="images/logo.png" alt="logo" class="logo">
      <!--<div class="link">
              <a href="#" >Login</a>
            </div>
            -->
      <!-- <form action="adminLogin.html"> -->
        <div class="action__btns">
          <a class="login" href="adminLogin">Admin Login</a>
        </div>
      <!-- </form> -->
    </div>
  </div>

</body>

</html>