*{
  margin: 0%;
}

.header{
    background:linear-gradient(#e1cff2,#ebebeb) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    display: inline-block;
    margin: 10px;
}
.logo img{
    height: 70px;
    
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container .input-field{
    border: 2px outset plum;
  }
  
  .container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    margin-top: 60px;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 2px outset plum;
    padding: 20px;
    box-shadow:0 2px 10px rgba(0,0,0,3);
  }
  .action__btns {
    display: flex;
    justify-content: center; /* Center the button horizontally */
  }
  .action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid #a855f7;
    border-radius: 25px;
    transition: 0.3s;
    cursor: pointer;
    
  }
  
  .login {
    color: #a855f7;
  }
  
  .login:hover {
    background-color: #9333ea;
    color: #ffffff;
  }
  .input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  label {
    font-size: 1rem;
  }


  @media (max-width: 768px) {
    .container {
      max-width: 90%; /* Decrease the maximum width for smaller screens */
      margin:30px 30px;
    }
    .action__btns button {
      font-size: 0.9rem; /* Decrease font size for smaller screens */
      padding: 0.8rem 1.5rem; /* Adjust padding for smaller screens */
    }
    label {
      font-size: 0.9rem;
    }
    input[type="text"], select, textarea {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    input[type="text"]::placeholder, select::placeholder, textarea::placeholder {
      font-size: 0.7rem; /* Decrease placeholder font size for smaller screens */
    }
    a {
      font-size: 0.8rem; /* Decrease font size for smaller screens */
      margin-top: 12px; /* Add spacing between the link and input fields */
    }
    
  }
  
  /* Responsive button styles for even smaller screens */
  @media (max-width: 480px) {
    .container {
      max-width: 95%; /* Further decrease the maximum width for very small screens */
      padding: 10px; /* Reduce padding for very small screens */
      margin: 20px; 
    }
    .action__btns button {
      font-size: 0.7rem; /* Further decrease font size for very small screens */
      padding: 0.6rem 1rem; /* Further adjust padding for very small screens */
    }
    .logo img{
      height: 50px;
    }
    label {
      font-size: 0.6rem;
    }
  }
  