doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Update User
  link(rel='stylesheet' href='updateAdminPassword.css')
.container0
  #clg_logo
    img(src='images/logo1.png' alt='logo')
  .first-rectangle
    h2(style='color: orange;') Kolhapur Institute of Technology&apos;s
    h2 College of Engineering (Autonomous) Kolhapur
  .action__btns#homeBtn
    a.login(href='adminHome') Home
.container
  .title Update Password
  .content
    form(method='post' action="updatePassword")
      .user-details
        .input-box
          span.details Username
          input(type='text' name='username' placeholder="Username" required='')
        .input-box
          span.details Password
          input(type='text' name='currentPassword'  placeholder="Current Password" required='')
        .input-box
          span.details New Password
          input(type='text' name='newPassword' placeholder="New Password" required='')
        .input-box
          span.details Confirm New Password
          input(type='text' name='confirmNewPassword' placeholder="Confirm New Password" required='')
      .action__btns(align='center')
        button(type="submit") Submit 
