<!DOCTYPE html>
<html>
	<head>
		<title>User</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" href="adminHome.css">
       
	</head>
	<body>
    <div class="container">
      <div id="clg_logo">
        <img src="images/logo1.png" alt="logo">
      </div>
      <div class="first-rectangle">
        <h2 style="color: orange;">Kolhapur Institute of Technology's</h2>
        <h2>College of Engineering (Autonomous) Kolhapur</h2>
      </div>
      <div class="action__btns">
          <br>
        <a class="login" href="logout">Logout</a>
      </div> 

      <!-- <div id="dropdownContainer">
        <div id="dropdown">
          <button>Profile</button>
          <div id="dropdown-options">
            <a href="#">Update Password</a>
            <a href="#">Logout</a>
          </div>
        </div>
      </div> -->
    </div>

    </div>
        <div class="second-container">
            <div class="box">
              <img src="images/workshop.jpeg" alt="logo" class="logo">
                <div class="action__btns"  >
                  <form id="workshopForm" action="workshopP" method="post">
                    <input type="hidden" name="token" id="workshopToken">
                  </form>
                  <button id="workshopBtn" class="login" >Workshop</button>
                </div>
            </div>
            <div class="box" >
              <img src="images/conf.png" alt="logo"  class="logo">
                <div class="action__btns">
                  <form id="conferenceForm" action="conferenceP" method="post">
                    <input type="hidden" name="token" id="conferenceToken">
                  </form>
                  <button id="conferenceBtn" class="login" >Conference</button>
                </div>
            </div>
          </div>
         
          <div class="second-container">
            <div class="box">
              <img src="images/research.png" alt="logo" class="logo">
                <div class="action__btns">          
                  <form id="paperPublicationForm" action="paperPublicationP" method="post">
                    <input type="hidden" name="token" id="paperPublicationToken">
                  </form>
                  <button id="paperPublicationBtn" class="login" >Paper Publication</button>
                  <a id="paperPublicationAnchor" href="paperPublication"></a>
                </div>
            </div>
            <div class="box" >
              <img src="images/citation.png" alt="logo"  class="logo">
                <div class="action__btns">
                  <form id="citationForm" action="citationP" method="post">
                    <input type="hidden" name="token" id="citationToken">
                  </form>
                  <button id="citationBtn" class="login" >Citation</button>
                  <a id="citationAnchor" href="citation"></a>
                </div>
            </div>
          </div>
          <div class="second-container">
            <div class="box" >
              <img src="images/update_user.png" alt="logo"  class="logo">
                <div class="action__btns">
                  <form id="updateProfileForm" action="updateProfileP" method="post">
                    <input type="hidden" name="token" id="updateProfileToken">
                  </form>
                  <button class="login" id="updateProfileBtn">Update Profile</button>
                  <a id="updateProfileAnchor" href="updateProfile"></a>
                </div>              
            </div>
            <div class="box" >
              <img src="images/download.jpg" alt="logo"  class="logo">
                <div class="action__btns">
                  <form id="downloadUpdateForm" action="downloadUpdateP" method="post">
                    <input type="hidden" name="token" id="downloadUpdateToken">
                  </form>
                  <button class="login" id="downloadUpdateBtn">Download / Update</button>
                  <a id="downloadUpdateAnchor" href="downloadUpdate"></a>
                </div>              
            </div>
          </div>
          </div>
	</body>
  <script src="userHome.js"></script>
</html>
