<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Workshop </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="workshop.css">
     
   </head>
<body>
  <div class="container0">
    <br>
    <div id="clg_logo">
      <img src="images/logo1.png" alt="logo"> 
    </div>
    <div class="first-rectangle">
      <h2 id="txt_color">Kolhapur Institute of Technology's</h2>
      <h2>College of Engineering (Autonomous) Kolhapur</h2>
    </div>
    
    <div class="action__btns">
      <a class="login" id="homeBtn" href="userHome">Home</a>
    </div> 
  </div>
  
  <div class="container">
 
    <div class="title">Workshop Details</div>
    <div class="content">

      <form method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" name="fName" placeholder="Enter name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <select class="custom-select" name="dept" id="inputGroupSelect01" required>
              <option value="">Choose...</option>
              <option value="Computer Science and Engineering">Computer Science and Engineering</option>
              <option value="Electronics and Telecommunication Engineering">Electronics and Telecommunication Engineering</option>
              <option value="Environmental Engineering">Environmental Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Basic Science and Humanities">Basic Science and Humanities</option>
              <option value="Biotechnology Engineering">Biotechnology Engineering</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics Engineering">Electronics Engineering</option>
              <option value="Library">Library</option>
            </select>            
          </div>

          <div class="input-box">
            <span class="details">Designation</span>
            <select class="custom-select" name="desig" id="inputGroupSelect01" required>
              <option value="">Choose...</option>
              <option value="Director">Director</option>
              <option value="Professor">Professor</option>
              <option value="Assistant Professor">Assistant Professor</option>
              <option value="Librarian">Librarian</option>
              
            </select>
          </div>
          
        
          <div class="input-box">
            <span class="details">Name of workshop </span>
            <input type="text" name="workshopName" placeholder="Name of workshop" required>
          </div>
          <div class="input-box">
            <span class="details">Organizing/Sponsoring Institute</span>
            <input type="text" name="institute" placeholder="Organizing Institute name" required>
          </div>
          <div class="input-box">
            <span class="details">Venue of workshop</span>
            <input type="text" name="venue" placeholder="Enter workshop venue" required>
          </div>
          <div class="input-box">
            <span class="details">Nature of Workshop</span>
            <input type="text" name="nature"  placeholder="FDP,STTP,TEQIP,SUMMER,etc" required>
          </div>
          <div class="input-box">
            <span class="details">Duration(Days)</span>
            <input type="text" name="duration"  placeholder="Duration" required>
          </div>
          <div class="input-box">
            <span class="details">Start Date</span>
            <input type="date" name="startDate" required>
          </div>
          
          <div class="input-box">
            <span class="details">End Date</span>
            <input type="date" name="endDate" required>
          </div>
          <div class="input-box">
            <span class="details">Any Financial Support </span>     

          <select class="custom-select" name="support" id="inputGroupSelect01" required>
            <option value="">Choose...</option>
            <option value="YES">YES</option>
            <option value="No">NO</option>
          </select>
          </div>

          <div class="input-box">
            <span class="details">Name of Organization who suppoted for finance</span>
            <input type="text" name="supportOrg" placeholder="Enter name of insituite">
          </div>

          <div class="input-box">
            <span class="details">Amount</span>
            <input type="text" name="amount" placeholder="Enter Amount" required>
          </div>
          
          <!--           
          <div class="input-box">
            <span class="details">Upload Certificate</span>
            <input type="file" accept=".pdf,.doc,.docx" required>
          </div>
           -->
          
         
        </div>
       
        <div class="action__btns">
          <button class="login" type="submit">Submit</button>
        </div> 
      </form>
    </div>
  </div> 

</body>
</html>