<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Workshop </title>
    <link rel="stylesheet" href="workshop.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Workshop Details</div>
    <div class="content">

      <form method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name of Faculty </span>
            <input type="text" name="fName" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Name of Department </span>
            <select class="custom-select" name="support" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="Computer Science and Engineering">Computer Science and Engineering</option>
              <option value="Electronics and Telecommunication Engineering">Electronics and Telecommunication Engineering</option>
              <option value="Environmental Engineering">Environmental Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Basic Science and Humanities">Basic Science and Humanities</option>
              <option value="Biotechnology Engineering">Biotechnology Engineering</option>
              <option value="Electrical Engineering">Electrical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
              <option value="Electronics Engineering">Electronics Engineering</option>
              <option value="Library">Library</option>
            </select>
            
          </div>
          <div class="input-box">
            <span class="details">Designation</span>
            <select class="custom-select" name="support" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="Director">Director</option>
              <option value="Professor">Professor</option>
              <option value="Assistant Professor">Assistant Professor</option>
              <option value="Librarian">Librarian</option>
              
            </select>
          </div>
          
        
          <div class="input-box">
            <span class="details">Nameof workshop </span>
            <input type="text" name="workshopName" placeholder="Enter name of workshop" required>
          </div>
          <div class="input-box">
            <span class="details">Organizing/Sponsoring Institute</span>
            <input type="text" name="institute" placeholder="Enter Organizing Institute Name" required>
          </div>
          <div class="input-box">
            <span class="details">Venue of workshop</span>
            <input type="text" name="venue" placeholder="Enter name of workshop venue" required>
          </div>
          <div class="input-box">
            <span class="details">Nature of Workshop</span>
            <input type="text" name="nature"  placeholder="Enter Nature of workshop" required>
          </div>
          <div class="input-box">
            <span class="details">Duration(Days)</span>
            <input type="text" name="duration"  placeholder="Enter Duration you have attended" required>
          </div>
          <div class="input-box">
            <span class="details">From date</span>
            <input type="date" name="startDate" placeholder="Enter From date" required>
          </div>
          
          <div class="input-box">
            <span class="details">To Date</span>
            <input type="date" name="endDate" placeholder="Enter To date " required>
          </div>
          <div class="input-box">
            <span class="details">Any Financial Support </span>     

          <select class="custom-select" name="support" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="YES">YES</option>
            <option value="No">NO</option>
          </select>

          </div>

          <div class="input-box">
            <span class="details">Name of Organization who suppoted for finance</span>
            <input type="text" name="supportOrg" placeholder="Enter name of insituite">
          </div>

          <div class="input-box">
            <span class="details">Amount</span>
            <input type="text" name="amount" placeholder="Enter Amount" required>
          </div>
<!--           
          <div class="input-box">
            <span class="details">Upload Certificate</span>
            <input type="file" accept=".pdf,.doc,.docx" required>
          </div>
           -->
          
          
        </div>
       
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>